@import '../../styles/mixins.scss';

.careerListItems div {
  margin-bottom: 5px;
  padding-bottom: 5px;
  padding-top: 5px;

  p {
    margin-bottom: 10px;
  }
}

.listHighlight {
  background-color: $accent-color;
  border-radius: 3px;
}

.listOdd {

}
